spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/taskpulse}
    username: ${DB_USERNAME:taskpulse}
    password: ${DB_PASSWORD:taskpulse}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false
